.alerts .alert {
    color: $black;
    padding: 25px;
    margin-bottom: 30px;
}
.alerts .alert.alert-danger {
    background: #FCF2F2;
}
.alerts .alert.alert-warning {
    background: #FFFCF6;
}
.alerts .alert.alert-success {
    background: #F7FBF7;
}
.alerts .alert.alert-info {
    background: #F5F9FB;
}
.alerts .alert h4 {
    font-size: 25px;
}